.movie{
    width: 100%;
    height: 80px;
    padding: 5px 20px;
    background: #f6f6f6;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-top: 3px;
}

.poster, .movieInfo, #moviePoster, #movieData{
    float: left;
}

.movieInfo{
    padding-left: 10px;
}

.movieName{
    font-size: 21px;
}

.rating{
    font-size: 18px;
}

.seen, .watchlist{
    float: right;
    margin: 12px;
}

.glyphicon-plus-sign{
    margin-right: 10px;
}

#movieData{
    width: 600px;
    margin: 20px;
}

.genreItem{
    font-size: 18px;
}